:root {
  --dark_purple: #261c2c;
  --dark_red: #3e2c41;
  --purple_gray: #5c527f;
  --light_blue: #6e85b2;
  --light_gray: #e3e3e3;
  --main_font: "Roboto", sans-serif;
  --secondary_font: "Arvo", serif var(--light_gray);
  --border-definition: 1px solid #e3e3e3;
}

html {
  font-size: 16px;
  line-height: 1.56;
  font-family: var(--main_font);
  color: var(--light_blue);
  background-color: var(--dark_purple);
  scroll-behavior: smooth;
}

html body {
  margin: 0;
}
